<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCUoX667XdkTmUSnKQl9BHvZxpO66fc0k</string>
	<key>GCM_SENDER_ID</key>
	<string>900231556865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartEducation.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>smart-education-ac5bd</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-education-ac5bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900231556865:ios:576b0a434723b6996db500</string>
</dict>
</plist>